{{ partial "header" .}}

<h1>{{/* .Title | markdownify */}}</h1>
{{ .Content }}

<h2>{{ .Site.Params.main.latestPublishHeader | default "My Latest Job" }}</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  <div class="flex-portfolio-container">
  {{/*range first 1 $pages */}}
  {{ range first 3 $pages }}
    {{ if in .Site.Params.mainSections "portfolio" }}
      {{ partial "portfolio/item" .}}
    {{ else if in .Site.Params.mainSections "post" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }}
  </div>
<a href="/cv/portfolio/">See all projects</a>

<h2>{{ .Site.Params.main.latestPublishPostHeader | default "My Latest Posts" }}</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.otherSections }}
  <div class="flex-portfolio-container">
  {{/*range first 1 $pages */}}
  {{ range first 3 $pages }}
    {{ if in .Site.Params.otherSections "post" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }}
  </div>
<a href="/cv/post/">See all posts</a>

{{ partial "footer" .}}
